@model IEnumerable<Sebrae.Models.PessoaJuridica>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gerenciamento de Prestadores</h2>

<p>
    @Html.ActionLink("Cadastrar", "Cadastrar", "Prestador", new { @class = "btn btn-outline-success" })
</p>
<table class="table table-sm table-hover table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CPF_CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_RAZAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_CEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_CIDADE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_ESTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SG_UF)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CPF_CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DS_RAZAO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DT_FUNDACAO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SG_UF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DS_ESTADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SG_UF)
            </td>
        </tr>
    }

</table> 